html {
    background-color: cyan;
    font-family: "Alegreya Sans", sans-serif;

}
body#indx-body {
    text-align: center;

    
}
button {
	background-color: #FFCBA4;
	border-radius: 1rem;
}
button:active {
	transition-duration: 0.4s;

    transform: translateY(4px);
}

.letter {
    /* border: 2px solid black; */
    background-color: grey;
    
    color: white;
    padding: 5px;
    height: 1em;
    aspect-ratio: 1/1;
    justify-content: center;
    text-align: center;
    display: inline-block;
    
    text-transform: uppercase;
}

.inWord {
    /* border: 2px solid black; */
    background-color: yellow;
    
    color: black;
    padding: 5px;
    height: 1em;
    aspect-ratio: 1/1;
    justify-content: center;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;

}

.rightSpot {
    /* border: 2px solid black; */
    background-color: green;
    
    color: white;
    padding: 5px;
    height: 1em;
    aspect-ratio: 1/1;
    justify-content: center;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;

}